* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
/* HEADER */
.header {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
}
/* NAVBAR */
.navbar {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 150px;
}
.navbar .logo h1 {
    font-family: 'Revalia', arial;
    color: #34547A;
    font-weight: 400;
    font-size: 35px;
}
.navbar .logo h1:active {
    color: #888;
    transition: color 0.1s ease;
}
.navbar .logo h1 span {
    color: #888;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    list-style: none;
}
.menu-icon {
    display: none;
}
.nav-list li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.nav-list li a:hover {
    color: #34547A;
    transition: color 0.3s ease;
}
.nav-list li a:active {
    color: rgb(163, 163, 163);
    transition: color 0.1s ease;
}
/* HEADER-SECTION */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.section img {
    width: 357px;
    height: 233px;
}
.section .sec-content {
    width: 541px;
    box-sizing: content-box;
}
.section .sec-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #222;
    margin-bottom: 60px;
    position: absolute;
    top: 200px;
}
.section .sec-content p {
    font-family: 'Roboto', sans-serif;
    color: #727272;
    max-width: 540px;
    max-height: 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.btn {
    width: 225px;
    height: 65px;
    background: #34547A;
    border: 1px solid #34547A;
}
.btn a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/* ABOUT-ME */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .content {
    margin-top: 119px;
    width: 540px;
    height: 147px;
}
.about .content h1 {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #000;
    margin-bottom: 50px;
}
.about .content h1::before {
    position: absolute;
    content: "";
    background: #34547A;
    width: 80px;
    border-radius: 10px;
    height: 3px;
    left: 35vh;
    transform: translateY(45px);
}
.about .content h1::after {
    position: absolute;
    content: "";
    background: #888;
    width: 40px;
    border-radius: 10px;
    height: 3px;
    right: 39vh;
    transform: translateY(55px);
}
.about .content p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #727272;
}
.layouts {
    margin-top: 100px;
    background-color: #34547A;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 0px;
    gap: 50px;
}
.layouts .layout-item {
    display: flex;
    width: 141px;
    height: 50px;
    gap: 20px;
}
.layouts .layout-item img {
    width: 50px;
    height: 50px;
}
.layouts .layout-item .layout-item-content {
    width: 71px;
    height: 44px;
}
.layouts .layout-item .layout-item-content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    margin-bottom: 10px;
}
.layouts .layout-item .layout-item-content h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
/* SKILLS */
.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 101px;
    margin-bottom: 101px;
}
.skills-list {
    width: 445px;
    height: 257px;
    box-sizing: border-box;
}
.skills-list h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
}
.skills-list .skills-bar .bar .info {
    margin-bottom: 19px;
}
.skills-list .skills-bar {
    width: 445px;
}
.skills-list .skills-bar .bar:first-child {
    margin-top: 0px;
}
.skills-list .skills-bar .bar .info span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.skills-list .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #dfdddd;
    margin-bottom: 29px;
    border-radius: 10px;
}
.skills-list .skills-bar .bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #34547A;
    position: absolute;
    border-radius: 10px;
}
.skills-list .skills-bar .bar .progress-line.html span {
    width: 70%;
}
.skills-list .skills-bar .bar .progress-line.css span {
    width: 55%;
}
.skills-list .skills-bar .bar .progress-line.javascript span{
    width: 30%;
}
.skills-list .skills-bar .bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.skills-list .skills-bar .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    background: #000;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 3px 8px;
    border-radius: 3px;
}
.skills-list .skills-bar .bar .progress-line.html span::after {
    content: "70%";
}
.skills-list .skills-bar .bar .progress-line.css span::after {
    content: "55%";
}
.skills-list .skills-bar .bar .progress-line.javascript span::after {
    content: "30%";
}
.skills .img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #34547A;
}
/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EEEFF1;
    padding-top: 100px;
    margin-bottom: 50px;
}
.projects h1 {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #000;
    margin-bottom: 80px;
}
.projects h1::before {
    position: absolute;
    content: "";
    background: #34547A;
    width: 80px;
    border-radius: 10px;
    height: 3px;
    left: 25px;
    transform: translateY(45px);
}
.projects h1::after {
    position: absolute;
    content: "";
    background: #888;
    width: 40px;
    border-radius: 10px;
    height: 3px;
    right: 45px;
    transform: translateY(55px);
}
.projects .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .content img {
    width: 800px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.projects .content img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.projects .content a {
    font-family: 'Roboto', sans-serif;
    color: #222;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 50px;
}
.projects .content a:hover {
    color: #34547A;
}
.projects .content a:active {
    opacity: 0.5;
}
/* CONTACTS */
.title-cont {
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 80px;
}
.title-cont::before {
    position: absolute;
    content: "";
    background: #34547A;
    width: 80px;
    border-radius: 10px;
    height: 3px;
    left: 98vh;
    transform: translateY(45px);
}
.title-cont::after {
    position: absolute;
    content: "";
    background: #888;
    width: 40px;
    border-radius: 10px;
    height: 3px;
    right: 101vh;
    transform: translateY(55px);
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EEEFF1;
}
.contacts h2 {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom: 50px;
}
.contacts p {
    text-align: center;
    width: 540px;
    height: 67px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 65px;
}
.contacts .form .user-typing .user {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.contacts .form .user-typing .form-control{
    width: 255px;
    height: 50px;
    left: 20px;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 20px;
    color: #222;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.contacts .form .user-typing .message {
    max-width: 540px;
    max-height: 175px;
    min-width: 540px;
    min-height: 175px;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 20px 0px 120px 20px;
    display: block;
    color: #222;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.contacts .form .btns {
    background: #34547A;
    height: 45px;
    padding: 0px 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: 2px solid #34547A;
    margin-bottom: 100px;
    margin-top: 0px;
    transition: all 0.3s ease;
    margin-left: 11rem;
}

.contacts .form .btns:hover {
    cursor: pointer;
    color: #34547A;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid #34547A;
    background: #fff;
    transition: all 0.3s ease;
}

.contacts .form .btns:active {
    border: 2px solid #fff;
}
/* FOOTER */
.footer {
    background: #34547A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 45px 0px;
}
.footer .coder-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    margin-bottom: 20px;
}
.footer .coder-content h4 {
    font-family: 'Roboto', sans-serif;
    width: 193px;
    height: 12px;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}
.footer .messages {
    display: flex;
    column-gap: 20px;
}
.footer .messages .icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.footer .messages .icon:hover {
    outline-offset: 4px;
}
.footer .messages .icon:hover i{
    animation: shake .25s;
}
.footer .messages .icon-instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
}
.footer .messages .icon-telegram:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.footer .messages .icon-linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}
.footer .messages .icon-github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

 /* RESPONSIV MEDIA QUERY */

@media (max-width:1060px) {
    /* HEADER */
    .header {
        height: 600px;
    }
    .navbar {
        margin: 0 70px;
    }
    .section {
        gap: 70px;
    }
    .section .sec-content {
        width: 541px;
    }
    .section img {
        width: 320px;
        height: 220px;
    }
    .section .sec-content {
        width: 541px;
    }
    .section .sec-content h1 {
        font-size: 45px;
        margin-left: 55px;
    }
    .section .sec-content p {
        max-width: 500px;
        font-size: 15px;
        margin-bottom: 40px;
        margin-top: 50px;
        text-align: center;
    }
    .btn {
        width: 495px;
        height: 45px;
    }
    /* ABOUT-ME */
    .about .content h1::before {
        left: 57vh;
    }
    .about .content h1::after {
        right: 62vh;
    }
/* SKILLS */
.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.skills-list {
    width: 495px;
    height: 257px;
    box-sizing: border-box;
}
.skills-list .skills-bar .bar .info {
    margin-bottom: 10px;
}
.skills-list .skills-bar {
    width: 350px;
}
.skills-list .skills-bar .bar .info span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #727272;
}
.skills-list .skills-bar .bar .progress-line {
    margin-bottom: 25px;
}
.skills-list .skills-bar .bar .progress-line span::after {
    top: -25px;
    font-size: 10px;
}
.skills .img img{
    width: 370px;
    height: 370px;
    border: 10px solid #34547A;
}
/* PROJECTS */
.projects {
    padding-top: 70px;
}
.projects h1 {
    margin-bottom: 60px;
}
.projects .content img {
    width: 750px;
}
/* CONTACTS */
.title-cont::before {
    left: 121.5vh;
}
.title-cont::after {
    position: absolute;
    content: "";
    background: #888;
    width: 40px;
    border-radius: 10px;
    height: 3px;
    right: 126vh;
    transform: translateY(55px);
}
}

@media (max-width:900px) {
    .navbar .logo h1 {
        font-size: 30px;
    }
    .nav-list {
        gap: 30px;
        display: none;
    }
    .menu-icon {
        display: block;
        font-size: 25px;
    }
    .header {
        height: 550px;
    }
    .navbar {
        margin: 0 70px;
    }
    .section {
        gap: 50px;
    }
    .section img {
        width: 250px;
        height: 150px;
    }
    .section .sec-content {
        width: 400px;
    }
    .section .sec-content h1 {
        font-size: 35px;
        margin-left: 45px;
    }
    .section .sec-content p {
        max-width: 400px;
        font-size: 13px;
        margin-bottom: 25px;
        margin-top: 30px;
        text-align: center;
    }
    .btn {
        width: 390px;
        height: 35px;
    }
    /* ABOUT-ME */
    .layouts {
        margin-top: 50px;
        padding: 45px 0px;
        gap: 40px;
    }
    .layouts .layout-item {
        display: flex;
        width: 130px;
        height: 40px;
    }
    .layouts .layout-item img {
        width: 45px;
        height: 45px;
    }
    .layouts .layout-item .layout-item-content {
        width: 51px;
        height: 24px;
    }
    .layouts .layout-item .layout-item-content h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .layouts .layout-item .layout-item-content h4 {
        font-size: 13px;
    }
/* SKILLS */
.skills {
    gap: 5px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.skills-list {
    width: 400px;
    height: 200px;
}
.skills .img img{
    width: 330px;
    height: 330px;
    border: 7px solid #34547A;
}
/* PROJECTS */
.projects {
    padding-top: 60px;
}
.projects .content img {
    width: 630px;
}
/* CONTACTS */
.title-cont::before {
    left: 101vh;
}
.title-cont::after {
    right: 107vh;
}
}

@media (max-width:768px) {
    /* CONTACTS */
.title-cont::before {
    left: 85vh;
}
.title-cont::after {
    right: 90vh;
}
/* FOOTER */
.footer .messages .icon {
    width: 35px;
    height: 35px;
    font-size: 25px;

}
}

@media (max-width:480px) {
/* NAVBAR */
.navbar {
    padding-top: 20px;
    padding-bottom: 110px;
}
.navbar .logo h1 {
    font-size: 20px;
}
.nav-list {
    display:none;
}
.menu-icon {
    display: block;
}
/* HEADER-SECTION */
.section {
    display: flexbox;
    flex-direction: column;
    align-items: center;
}
.section img {
    width: 285px;
    height: 150px;
}
.section .sec-content {
    width: 405px;
}
.section .sec-content h1 {
    font-size: 38px;
    position: absolute;
    top: 90px;
}
.section .sec-content p {
    max-width: 400px;
    max-height: 47px;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 65px;
    margin-top: 0px;
}
.btn {
    margin-left: 90px;
    width: 220px;
    height: 40px;
}
.btn a {
    font-weight: 300;
    font-size: 15px;
}
/* ABOUT-ME */
.about .content {
    margin-top: 20px;
    height: 147px;
}
.about .content h1::before {
    left: 71vh;
}
.about .content h1::after {
    right: 77vh;
}
.about .content p {
    text-align: center;
    width: 450px;
    margin-left: 50px;
    font-weight: 400;
}
.layouts {
    margin-top: 80px;
    padding: 30px 0px;
    gap: 20px;
}
.layouts .layout-item {
    width: 100px;
    height: 50px;
    gap: 10px;
}
.layouts .layout-item img {
    width: 30px;
    height: 30px;
}
.layouts .layout-item .layout-item-content {
    width: 51px;
    height: 24px;
}
.layouts .layout-item .layout-item-content h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
.layouts .layout-item .layout-item-content h4 {
    font-size: 10px;
}
/* SKILLS */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.skills-list {
    width: 445px;
    height: 257px;
    box-sizing: border-box;
}
.skills-list h2 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 35px;
}
.skills-list .skills-bar {
    width: 400px;
    margin-left: 30px;
}
.skills .img img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 30px;
    border: 10px solid #34547A;
}
/* PROJECTS */
.projects {
    padding-top: 50px;
    margin-bottom: 50px;
}
.projects .content img {
    width: 350px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.projects .content a {
    margin-bottom: 35px;
}
/* CONTACTS */
.title-cont::before {
    left: 62vh;
}
.title-cont::after {
    right: 68vh;
  
}
.contacts h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}
.contacts p {
    width: 370px;
}
.contacts .form .user-typing .user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contacts .form .user-typing .form-control{
    width: 450px;
    margin-left: 0px;
}
.contacts .form .user-typing .message {
    max-width: 450px;
    max-height: 100px;
    min-width: 450px;
    min-height: 100px;
}
.contacts .form .btns {
    height: 45px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 50px;
    margin-left: 8rem;
}
/* FOOTER */
.footer {
    padding: 30px 0px;
}
.footer .coder-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer .coder-content h4 {
    height: 12px;
    font-size: 10px;
}
.footer .messages {
    display: flex;
    column-gap: 20px;
}
.footer .messages .icon {
    width: 25px;
    height: 25px;
    font-size: 15px;
}
}









